<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>EyeReport|Blog</title>
  <link rel="stylesheet" href="/css/bootstrap.css">
  <!-- <link rel="stylesheet" href="./fontawesome-free-5.14.0-web/css/all.min.css"> -->
  <link rel="stylesheet" href="/css/blog.css">
  <!-- <link rel="stylesheet" href="./lightbox1/css/lightbox.min.css"> -->
</head>

<body>

  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container">
      <a class="navbar-brand" href="#"><img
          src="/images/kisspng-north-alabama-eye-care-vector-graphics-logo-image-5c03038fea1a92.0887709315437013919589.png"
          alt=""> EyeReport</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item">
            <a class="nav-link" href="/api/users/home">Home <span class="sr-only">(current)</span></a>
          </li>
          <!-- <li class="nav-item">
                <a class="nav-link" href="/api/users/report">Report</a>
              </li> -->
          <li class="nav-item">

          </li>
        </ul>

      </div>
    </div>
  </nav>




  <div class="container-fluid">


    <div class="jumbotron p-4 p-md-5 text-light rounded bg-light">
      <div class="col-md-6 px-0">
        <h1 class="display-4 font-italic">The EyeReport featured blog post</h1>
        <p class="lead my-3">Multiple lines of News, Emergencies and Reports with Pictures, informing new readers
          quickly and efficiently about the current happenings withing them.</p>
        <p class="lead mb-0"><a href="blog.htm#" class="text-primary font-weight-bold">Continue reading...</a></p>
      </div>
    </div>

    <div class="container">

      <div class="row">
        <div class="col-md-6">
          <div
            class="row no-gutters border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
            <div class="col p-4 d-flex flex-column position-static">
              <strong class="d-inline-block mb-2 text-primary">Advatisements</strong>
              <h3 class="mb-0">The Nigerian Police Force</h3>
              <div class="mb-1 text-muted">August 14</div>
              <p class="card-text mb-auto">This post is for for people who are interested in joining the Nigerian Police
                force, Hurry and get your form now.</p>
              <a href="./drob.html" class="stretched-link">Continue reading</a>
            </div>
            <div class="col-auto d-lg-block">

              <img src="/images/policerecruitment-8aab-1.png" class="img-fluid" alt="" width="250" height="300">
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <div
            class="row no-gutters border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
            <div class="col p-4 d-flex flex-column position-static">
              <strong class="d-inline-block mb-2 text-success">Covid Updates</strong>
              <h3 class="mb-0">Covid19 UPdates</h3>
              <div class="mb-1 text-muted">September 1st.</div>
              <p class="mb-auto">The followin is the update of corona virus in Nigeria, the brake down list of every
                state.</p>
              <a href="./drob.html" class="stretched-link">Continue reading</a>
            </div>
            <div class="col-auto d-lg-block">

              <img src="/images/COVID-19-UPDATE.png" class="img-fluid" alt="" width="250" height="300">
            </div>
          </div>
        </div>
      </div>


      <div class="row">
        <div class="col-md-6">
          <div
            class="row no-gutters border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
            <div class="col p-4 d-flex flex-column position-static">
              <strong class="d-inline-block mb-2 text-primary">Bolg Post</strong>
              <h3 class="mb-0">WHO GIVE AM BELLE? </h3>
              <div class="mb-1 text-muted">August 14</div>
              <p class="card-text mb-auto">Nigerians reacts as an 11-year old girl gives birth at her age, this small
                girl sparked on social media after a pictuer of her was takened....</p>
              <a href="./drob.html" class="stretched-link">Continue reading</a>
            </div>
            <div class="col-auto d-lg-block">
              <img src="/images/small-girl-give-birth.jpg" class="img-fluid" alt="" width="250" height="250">
            </div>
          </div>

        </div>
        <div class="col-md-6">
          <div
            class="row no-gutters border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
            <div class="col p-4 d-flex flex-column position-static">
              <strong class="d-inline-block mb-2 text-success">Blog Post</strong>
              <h3 class="mb-0">Nigerian schools resumption date</h3>
              <div class="mb-1 text-muted">September 1st.</div>
              <p class="mb-auto">Federal authorities have advise that for caution as some state governments annouces the
                dates for schools resumption....</p>
              <a href="./drob.html" class="stretched-link">Continue reading</a>
            </div>
            <div class="col-auto d-lg-block">

              <img src="/images/_114198667_nigerianschoolsresumptiondate.jpg" class="img-fluid" alt="" width="250"
                height="300">
            </div>
          </div>
        </div>
      </div>





    </div>
  </div>

  </div>




  <footer id="main-footer">
    <div class="container">
      <div class="row">
        <div class="col text-center ">
          <div class="py-4">

            &copy;EyeReport.All Right Reserved. <br>

            <button type="button" class="btn btn-light" data-toggle="modal" data-target="#exampleModal"
              data-whatever="@getbootstrap">Got A Feedback!</button>

            <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
              aria-hidden="true">
              <div class="modal-dialog" role="document">
                <div class="modal-content">
                  <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Feedback</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                      <span aria-hidden="true">&times;</span>
                    </button>
                  </div>
                  <div class="modal-body">
                    <form>

                      <div class="form-group">
                        <label for="message-text" class="col-form-label">Message:</label>
                        <textarea class="form-control" id="message-text"></textarea>
                      </div>
                    </form>
                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-dark">Send feedback</button>
                  </div>
                </div>
              </div>
            </div>


          </div>
        </div>
      </div>
    </div>

  </footer>





  <script src="/js/jquery3.5.min.css"></script>
  <script src="/bootstrap-4.5.0-dist/js/bootstrap.min.js"></script>
</body>

</html>